<!DOCTYPE html>
<head>
    <title>blog posts</title>
    <style>
        .box{
            border-style: solid;
            text-align: center;
        }
        .title{
            color:red;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/create">Create Post</a> |
        <a href="/search">Search post</a> |
        <a href="/logout">logout</a> |
        <a href="#">About us</a>
        </nav>
    
{% for post in posts %}
<br>
<div class="box">
<p class="title">{{post.title}}</p>
{{post.Description | slice:":50"}}<br>
<a href="{% url 'post_detail' post.slug %}">Read More</a>
</div>
{% endfor %}
    
</body>
</html>